<nav class="top-nav">
  <span class="nav-logo"><span>H</span>API Portal</span>
  <div class="nav-tabs">
    <%# 대메뉴는 로그인 role에 매핑된 메뉴만 노출(res.locals.navMenus, loadNavMenus 미들웨어) %>
    <% (typeof navMenus !== 'undefined' ? navMenus : []).forEach((m) => { %>
    <a href="<%= m.path %>" class="nav-tab <%= currentMenu === m.key ? 'active' : '' %>"><%= m.name %></a>
    <% }) %>
  </div>
  <div class="nav-right">
    <% if (user) { %>
      <span class="nav-username"><%= user.name %></span>
      <form action="/auth/logout" method="POST" style="display:inline">
        <button class="nav-user" type="submit">로그아웃</button>
      </form>
    <% } else { %>
      <a href="/auth/login" class="nav-user">로그인</a>
    <% } %>
  </div>
</nav>
